<!DOCTYPE html>
<html lang="en">

<body>
	<h1>MATH 3307 - HONORS PROJECT - JOE CLOUD</h1>
	<h2>Fall 2016 - Section 001 (85596) - Epperson </h2>
	<p> This program will encrypt and decrypt simple text files. Keep in mind due to the strength of the key (7470 bits) that files with multiple lines will potentially take 20-30 seconds to encrypt and decrypt.</p>
	<p> For the following file selector, choose a text file you'd like to encrypt, then submit.</p>
    <form action="/umessage" method="post" enctype="multipart/form-data">
        <input type="file" name="data_file" />
        <input type="submit" />
    </form>
    <p> To decrypt a file, please upload the ciphered text in the first box, and the key in the second box, then submit. </p>  
     <form action="/dmessage" method="post" enctype="multipart/form-data">
        <input type="file" name="data_file" />
        <input type="file" name="key_file" />
        <input type="submit" />
    </form>
    <br><br>



<p> Below is the first version of the program, which can only encrypt numbers. Please be aware that you must clear the 'Number to encrypt' box before submitting text to decrypt. </p>  
    <form action="" method="post">
        {{ form.csrf }}

        <div class="input text">
            {{ form.str_encrypt.label }} {{ form.str_encrypt }}
        </div>

        <div class="input submit">
            <input type="submit" value="Submit" />
        </div>

        <div class="input text">
            {{ form.str_decrypt.label }} {{ form.str_decrypt }}
        </div>
        <div class="input text">
            {{ form.str_key.label }} {{ form.str_key }}
        </div>

        <div class="input submit">
            <input type="submit" value="Submit" />
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>
</html>