<!DOCTYPE html>
<html lang="en">

<body>
	<h1>MATH 3307 - ELEMENTARY NUMBER THEORY - HONORS PROJECT - JOE CLOUD</h1>
	<h2>Dr. Epperson's section </h2>
	<p> This program will encrypt a string of digits up to 2^91.</p>
	{% import "bootstrap/wtf.html" as wtf %}
	{{ wtf.quick_form(form) }}
	{% extends "base.html" %}
	{% import "bootstrap/wtf.html" as wtf %}

	{% block title %}Flasky{% endblock %}

	{% block page_content %}
	<div class="page-header">
		<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
	</div>
	{{ wtf.quick_form(form) }}
	{% endblock %}
	
</body>
</html>s